html {
  font-family: "VT323", monospace;
}

h1 {
  font-size: 2em;
  justify-self: center;
}

#game-screen {
  background-color: lightgoldenrodyellow;
  background-position: center;
  width: 100%;
  display: none;
  border-radius: 10px;
  border: solid brown 2px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  position: relative;
}

#game-end {
  display: flex;
  background-color: lightgoldenrodyellow;
  background-position: center;
  height: 600px;
  width: 700px;
  flex-direction: column;
  display: none;
  border-radius: 10px;
  border: solid brown 2px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  position: relative;
  align-items: center;
  justify-content: center;
}
#start-screen {
  background-image: url(images/snake-background-z1pwx91w43h1nabw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 700px;
  padding-top: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

#start-screen nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100%;
  margin-left: 8px;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#score {
  padding: 10px 5px;
}

.all-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.levels {
  margin-top: 30%;
}

.easyorhard {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: "VT323", monospace;
  padding: 8px;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.5);
}
